@charset "UTF-8";
/*base  */
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  background-color: #ebebeb;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px; }

header {
  width: 100%;
  display: flex;
  flex-direction: column; }
  header .topbar {
    background-color: #f38482;
    color: #ffff;
    text-align: center; }
  header .logobar {
    padding: 10px;
    text-align: center; }
  header .searchbar {
    background-color: #f94747;
    padding: 10px;
    display: flex;
    justify-content: center; }
    header .searchbar button {
      font-size: 17px;
      background-color: #b33431;
      color: #ffff;
      border-color: #ff5858;
      border-radius: 5px; }
      header .searchbar button img {
        width: 100%;
        height: 30px; }
    header .searchbar input {
      margin-left: 1px;
      margin-right: 30px;
      font-size: large;
      border-radius: 5px;
      background-color: #b93333; }
    header .searchbar .right {
      margin-left: 30px;
      font-size: 30px; }
    header .searchbar .center {
      margin-left: 30px;
      font-size: 30px; }
    header .searchbar .registro {
      margin-right: 30px; }
  header .btn {
    top: 15px;
    right: 30px;
    margin-left: 20;
    z-index: 2;
    display: none; }

.contactito {
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
  padding: 1.5em; }
  .contactito h2 {
    text-align: center;
    font-size: 3em; }
  .contactito .contact-wrapper {
    box-shadow: 0 0 20px 0 rgba(255, 255, 255, 0.3); }
    .contactito .contact-wrapper .contact-form {
      background: #222222;
      color: white; }
      .contactito .contact-wrapper .contact-form form {
        display: grid;
        grid-template-columns: 1fr 1fr; }
        .contactito .contact-wrapper .contact-form form label {
          display: block; }
        .contactito .contact-wrapper .contact-form form p {
          margin: 0;
          padding: 1em; }
        .contactito .contact-wrapper .contact-form form .block {
          grid-column: 1 / 3; }
        .contactito .contact-wrapper .contact-form form button {
          width: 100%;
          padding: 0.7em;
          border: none;
          background: none;
          outline: 0;
          color: #fff;
          border-bottom: 1px solid #d63031;
          background: #b70e21;
          border: 0;
          text-transform: uppercase;
          padding: 1em; }
          .contactito .contact-wrapper .contact-form form button:hover, .contactito .contact-wrapper .contact-form form button:focus {
            background: #d63031;
            color: #fff;
            transition: background-color 1s ease-out;
            outline: 0; }
        .contactito .contact-wrapper .contact-form form input {
          width: 100%;
          padding: 0.7em;
          border: none;
          background: none;
          outline: 0;
          color: #fff;
          border-bottom: 1px solid #d63031; }
        .contactito .contact-wrapper .contact-form form textarea {
          width: 100%;
          padding: 0.7em;
          border: none;
          background: none;
          outline: 0;
          color: #fff;
          border-bottom: 1px solid #d63031; }
    .contactito .contact-wrapper .contact-info {
      background: #706f6f;
      color: white; }
      .contactito .contact-wrapper .contact-info h4 {
        margin: auto;
        text-align: center; }
      .contactito .contact-wrapper .contact-info ul {
        text-align: center;
        margin: 0 0 1rem 0;
        padding: 1em; }
        .contactito .contact-wrapper .contact-info ul li {
          padding: 0.3em; }
      .contactito .contact-wrapper .contact-info p {
        text-align: center;
        margin: 0 0 1rem 0;
        padding: 0.2em; }

@media (min-width: 700px) {
  body {
    padding: 0 4em; }
  .contact-wrapper {
    display: grid;
    grid-template-columns: 2fr 1fr; }
  .contact-wrapper > * {
    padding: 2em; }
  .contact-info h4,
  .contact-info ul,
  .contact-info p {
    text-align: left; } }

/* Abstract */
/* Ventas e imagenes */
.figuras {
  max-width: 1320px;
  margin: 0 auto; }
  .figuras h1 {
    font-family: Arial, Helvetica, sans-serif;
    color: #000000;
    font-size: 2rem;
    text-align: left;
    margin-top: 2rem;
    text-transform: uppercase; }
  .figuras .ventas {
    display: grid;
    grid-template-columns: repeat(4, 1fr); }
    .figuras .ventas .ventass {
      background-color: white;
      margin: 0.5rem;
      padding: 0.1rem; }
      .figuras .ventas .ventass .muñeco {
        text-align: center;
        background-color: black;
        width: 100%;
        height: auto;
        object-fit: contain;
        padding: 0; }
        .figuras .ventas .ventass .muñeco img {
          width: 100%;
          height: auto; }
      .figuras .ventas .ventass .producto-info {
        text-align: center; }
        .figuras .ventas .ventass .producto-info .producto-precio {
          color: black;
          font-family: Arial, Helvetica, sans-serif;
          text-transform: uppercase;
          text-align: center;
          font-size: 20px;
          font-weight: 500; }
          .figuras .ventas .ventass .producto-info .producto-precio span {
            color: #b90000; }
        .figuras .ventas .ventass .producto-info .producto-nombre {
          color: black;
          font-family: Arial, Helvetica, sans-serif;
          text-transform: uppercase;
          text-align: center;
          font-size: 20px;
          font-weight: 800; }
        .figuras .ventas .ventass .producto-info button {
          background-color: #00d1ff;
          font-size: 17px;
          color: black; }

/* components */
.menubar {
  background-color: #b90000;
  text-align: center; }
  .menubar li {
    display: inline-block;
    text-align: center; }
    .menubar li a {
      text-decoration: none;
      color: white;
      padding: 20px;
      display: block; }
      .menubar li a:hover {
        background: #ff0000; }

.Botonera {
  display: flex;
  justify-content: center;
  align-items: center; }

.Botonera img {
  width: 150px; }

.background-flex {
  display: flex;
  justify-content: center;
  gap: 5rem;
  flex-wrap: wrap; }

.background-flex img {
  display: flex;
  flex: 0 1 300px;
  flex-direction: column;
  border: 1px solid black;
  padding: 2rem;
  order: -1;
  align-self: center;
  width: 80%; }

.banner-height {
  background-image: url("../image/banner.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: auto;
  max-width: 1364px;
  display: flex;
  flex-direction: column; }
  .banner-height .banner-one {
    background-color: rgba(0, 0, 0, 0.5);
    height: 320px; }
    .banner-height .banner-one .content {
      color: white;
      text-align: center; }
      .banner-height .banner-one .content h1 {
        font-size: 45px;
        color: white;
        text-align: center;
        margin: 10px 0 20px 0; }
      .banner-height .banner-one .content p {
        font-size: 35px;
        margin: 10px 0 20px 0; }

.lowbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #706f6f;
  width: 100%;
  height: 350px; }
  .lowbar img {
    padding-top: 40px;
    width: 9%; }
  .lowbar .h4low {
    color: white;
    display: flex;
    flex-direction: column;
    padding: 6px;
    font-size: 25px; }
  .lowbar .h5low {
    color: white;
    text-align: center;
    margin: auto;
    font-size: 14px;
    padding: 19px;
    width: 50%; }

/* Layouts */
.social {
  display: flex;
  margin: 30px;
  display: block; }
  .social .links {
    display: flex;
    align-items: center;
    justify-content: center; }
    .social .links h3 {
      text-align: center;
      font: 10px;
      margin-bottom: 10px; }
    .social .links a {
      margin: 0 15px; }
      .social .links a i {
        transition: 0.2s ease; }
    .social .links #facebook:hover {
      cursor: pointer;
      transform: translateY(-6px); }
    .social .links #youtube:hover {
      cursor: pointer;
      transform: translateY(-6px); }
    .social .links #instagram:hover {
      cursor: pointer;
      transform: translateY(-6px); }
    .social .links #tiktok:hover {
      cursor: pointer;
      transform: translateY(-6px); }
  .social .fbuton {
    display: inline-block;
    margin: 0 100px; }
    .social .fbuton button {
      background-color: #00d1ff;
      font-size: 16px;
      margin-bottom: 10px; }
    .social .fbuton h4 {
      text-align: center;
      margin-bottom: 10px; }
    .social .fbuton span {
      color: #00b8c3; }
    .social .fbuton h5 {
      margin-bottom: 10px;
      text-align: center;
      font-size: 14px; }
  .social .fbuton3 h4 {
    margin-bottom: 22px;
    text-align: center; }
  .social .fbuton3 h5 {
    font-size: 13px;
    text-align: center; }
  .social .fbuton4 {
    font: 13px;
    margin: 0 100px;
    text-align: center; }
    .social .fbuton4 button {
      background-color: #6ad003;
      font-size: 20px; }

.footer-links {
  background: #3a3a3a;
  color: #3a3a3a;
  font-size: 12px;
  padding: 35px 0; }
  .footer-links .footer-container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 10px;
    align-items: flex-start;
    justify-content: center; }
    .footer-links .footer-container ul {
      margin: 0 auto; }
    .footer-links .footer-container li {
      line-height: 2.8; }
    .footer-links .footer-container a {
      color: #ffffff; }

.footer {
  background: #2f3640;
  color: #616161;
  font-size: 12px;
  padding: 20px 0;
  text-align: center;
  font-size: 1rem;
  padding-bottom: 20px; }

@media screen and (max-width: 700px) {
  .nav-main {
    visibility: hidden; }
  .nav-main ul.menubar {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background: #b90000;
    height: 100%;
    padding: 30px;
    opacity: 0.7;
    transform: translateX(-50px);
    transition: transform 0.5 ease-in-out; }
  .nav-main ul.menubar.show {
    transform: translateX(-20px); }
  .nav-main ul.menubar li {
    padding: 20px;
    font-size: 14px; }
  .searchbar {
    width: 100%;
    background-color: #f94747;
    padding: auto;
    display: flex;
    justify-content: center; }
    .searchbar button {
      font-size: 15px;
      margin: 0; }
    .searchbar input {
      margin: 0;
      font-size: medium; }
    .searchbar .registro {
      margin: 0;
      font-size: 15px; }
    .searchbar .center,
    .searchbar .right {
      display: none; }
    .searchbar .btn {
      display: block; }
  .banner-one .content {
    width: 80%; }
  .figuras {
    display: grid; }
    .figuras h1 {
      font-size: 20px; }
    .figuras .ventas {
      grid-template-columns: repeat(2, 2Fr); }
  .social {
    width: 100%; }
    .social .links .linksitos {
      text-align: center;
      font-size: 20px; }
    .social .links .fbuton,
    .social .links .fbuton h4,
    .social .links .fbuton3,
    .social .links .fbuton3 h4,
    .social .links .fbuton4,
    .social .links .fbuton4 h4 {
      display: none; }
  .lowbar .h5low {
    width: 100%; }
  .footer-links .footer-container {
    grid-template-columns: repeat(3, 1Fr); } }
