/* Banner Uno */
.banner-height {
  background-image: url("../image/banner.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: auto;
  max-width: 1364px;
}
.banner-one {
  background-color: rgba(0, 0, 0, 0.5);
  height: 320px;
}
.content,
.bienvenido {
  color: white;
  text-align: center;
}
.content h2 {
  font-size: 45px;
  margin: 10px 0 20px 0;
}
.banner-one p {
  font-size: 35px;
  margin: 10px 0 20px 0;
}
