.figuras {
  max-width: 1320px;
  margin: 0 auto;
}
.figurita {
  font-family: Arial, Helvetica, sans-serif;
  color: #000000;
  font-size: 2rem;
  text-align: left;
  margin-top: 2rem;
  text-transform: uppercase;
}
.ventas {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.ventass {
  background-color: white;
  margin: 0.5rem;
  padding: 0.1rem;
}
.muñeco {
  text-align: center;
  background-color: black;
  width: 100%;
  height: auto;
  object-fit: contain;
  padding: 0;
}
.muñeco img {
  width: 100%;
  height: auto;
}
.producto-precio,
.producto-nombre {
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  text-align: center;
}
.producto-precio {
  font-size: 20px;
  font-weight: 500;
}
.producto-nombre {
  font-size: 20px;
  font-weight: 800;
}
