@media screen and (max-width: 700px) {
  .nav-main {
    visibility: hidden;
  }

  .nav-main ul.menubar {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background: #b90000;
    height: 100%;
    padding: 30px;
    opacity: 0.7;
    transform: translateX(-50px);
    transition: transform 0.5 ease-in-out;
  }
  .nav-main ul.menubar.show {
    transform: translateX(-20px);
  }
  .nav-main ul.menubar li {
    padding: 20px;
    font-size: 14px;
  }

  .searchbar {
    width: 100%;
    background-color: #f94747;
    padding: auto;
    display: flex;
    justify-content: center;
    button {
      font-size: 15px;
      margin: 0;
    }
    input {
      margin: 0;
      font-size: medium;
    }
    .registro {
      margin: 0;
      font-size: 15px;
    }
    .center,
    .right {
      display: none;
    }
    .btn {
      display: block;
    }
  }

  .banner-one .content {
    width: 80%;
  }
  .figuras {
    display: grid;
    h1 {
      font-size: 20px;
    }
    .ventas {
      grid-template-columns: repeat(2, 2Fr);
    }
  }
  .social {
    width: 100%;
    .links {
      .linksitos {
        text-align: center;
        font-size: 20px;
      }
      .fbuton,
      .fbuton h4,
      .fbuton3,
      .fbuton3 h4,
      .fbuton4,
      .fbuton4 h4 {
        display: none;
      }
    }
  }
  .lowbar .h5low {
    width: 100%;
  }
  .footer-links .footer-container {
    grid-template-columns: repeat(3, 1Fr);
  }
}
